/* style project main image */
.project1-img {
    width: 100%;
}

/* styles the card */
.MainProject {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width:50%;
    margin-bottom: 20px;
    border-radius: 15px;
}

/* styles the text area */
.content {
    padding: 10px;
}