.App {
  text-align: center;
}

.App-main {
  background-size: cover;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
.CMC {
  text-align: left !important;
}

@keyframes largeSmall {
  0% {
      transform: scale(1);
  }
  25% {
      transform: scale(1.5);
  }
  50% {
      transform: scale(1);
  }
  75% {
      transform: scale(0.5);
  }
  100% {
      transform: scale(1);
  }
}

.profileImage {
  width: 200px;
  height: 200px;
  animation-name: largeSmall;
  animation-duration: .8s;
  border: 10px double white;
  margin: 70px 0;
}

.jobTitle,
.quote {
  animation-name: largeSmall;
  animation-duration: .8s;
}

.About,
.ContactCard {
  margin: 0 80px;
  padding: 35px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 15px;
}

.aboutTitle,
.contactTitle {
  margin: 70px;
}

/* Adds symbold before and after each heading in the main section */
.aboutTitle::before,
.projectTitle::before,
.contactTitle::before {
  content: ">>";
  margin-right: 10px;
}

.aboutTitle::after,
.projectTitle::after,
.contactTitle::after {
  content: "<<";
  margin-left: 10px;
}