.App {
  text-align: center;
}

/* gives the app a background */
.App-main {
  background-size: cover;
}

/* sets text-align to hold importance over bootstrap style */
.CMC {
  text-align: left !important;
}

/* gives large to small animation */
@keyframes largeSmall {
  0% {
      transform: scale(1);
  }
  25% {
      transform: scale(1.5);
  }
  50% {
      transform: scale(1);
  }
  75% {
      transform: scale(0.5);
  }
  100% {
      transform: scale(1);
  }
}

/* styles profile image */
.profileImage {
  width: 200px;
  height: 200px;
  animation-name: largeSmall;
  animation-duration: .8s;
  border: 10px double white;
  margin: 70px 0;
}

/* gives these elements the animation */
.jobTitle,
.quote {
  animation-name: largeSmall;
  animation-duration: .8s;
}

/* styles the content elements */
.About,
.ContactCard {
  margin: 0 80px;
  padding: 35px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 15px;
}

/* styles the titles on the pages */
.aboutTitle,
.contactTitle {
  margin: 70px;
}

/* Adds symbold before and after each heading in the main section */
.aboutTitle::before,
.projectTitle::before,
.contactTitle::before {
  content: ">>";
  margin-right: 10px;
}

.aboutTitle::after,
.projectTitle::after,
.contactTitle::after {
  content: "<<";
  margin-left: 10px;
}

/* styles the footer */
.footer {
  padding-top: 10px;
}