.App {
  text-align: center;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
.CMC {
  text-align: left !important;
}

@keyframes largeSmall {
  0% {
      transform: scale(1);
  }
  25% {
      transform: scale(1.5);
  }
  50% {
      transform: scale(1);
  }
  75% {
      transform: scale(0.5);
  }
  100% {
      transform: scale(1);
  }
}

.profileImage {
  width: 150px;
  height: 150px;
  animation-name: largeSmall;
  animation-duration: 1s;
  /* margin-right: 0px; */
  border: 10px double ; 
}