/* styles the nav icons */
.home,
.aboutme,
.mywork,
.contact,
.resume {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-right: 10px;   
}

.navbar-item {
    position: relative;
}

/* styles the span element and hides it */
.toolTip {
    display: none;
    position: absolute;
    top: 50%;
    left: 35%;
    background-color: darkorchid;
    z-index: 1;
    padding: 3px;
    border-radius: 10px;
}

/* makes the span element visible upon hovering the icon */
.navbar-item:hover .toolTip{
    display: block;
}